<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>makebanner</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Titillium+Web:wght@300;600&display=swap"
            rel="stylesheet"
    >
    <link rel="stylesheet" href="css/editInformation.css">
</head>

<body>
<header>
    <div class="banner-header">

        <h2 class="banner-title">MAKEBANNER</h2>

        <div class="charts-see-all">

            <a class="go-login" href="#">
                로그인
            </a>

            <a class="go-login" href="#">
                회원가입
            </a>

            <button class="go-start">
                <a class="go-go" href="#">
                    시작하기
                </a>
            </button>

        </div>

    </div>
</header>

<section>
    <div class="container">

        <div class="mypage-t">MY PAGE</div>

        <div class="img-con">
            <img src="/image/free-icon-user-2663969.png">
        </div>

        <div class="id">id_@</div>


        <div class="box">
            <div class="box-t">이름</div>
            <div class="con">홍길동</div>

            <button class="edit-but" onclick="div_click()">이름 수정</button>
        </div>



        <div class="box">
            <div class="box-t">비밀번호</div>
            <div class="con">123441234 </div>

            <button class="edit-but">비밀번호 수정</button>

        </div>

        <div class="box">
            <div class="box-t">사업자등록번호</div>
            <div class="con">101010101010 </div>

            <button class="edit-but">사업자등록번호 수정</button>

        </div>


        <div class="but-box">
            <button class="fix-but">
                회원정보 수정 완료
            </button>
        </div>


    </div>


<!--    <div class="container">-->

<!--        <div class="box">-->
<!--            <input-->
<!--                    name="username"-->
<!--                    type="text"-->
<!--                    placeholder="이름을 입력해주세요."-->
<!--            />-->
<!--            <button class="edit-but">이름 수정</button>-->
<!--        </div>-->

<!--        <div class="box">-->
<!--            <input-->
<!--                    name="password"-->
<!--                    type="password"-->
<!--                    placeholder="비밀번호를 입력해주세요."-->
<!--            />-->
<!--            <button class="edit-but">비밀번호 수정</button>-->
<!--        </div>-->

<!--        <div class="box">-->
<!--            <input-->
<!--                    name="number"-->
<!--                    type="number"-->
<!--                    placeholder="사업자등록번호를 입력해주세요."-->
<!--            />-->
<!--            <button class="edit-but">사업자등록번호 수정</button>-->
<!--        </div>-->

<!--        <div class="but-box">-->
<!--            <button class="fix-but">-->
<!--                회원정보 수정 완료-->
<!--            </button>-->
<!--        </div>-->

<!--    </div>-->
</section>

</body>
</html>