<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>makebanner</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Titillium+Web:wght@300;600&display=swap"
            rel="stylesheet"
    >
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<header>
    <div class="banner-header">

        <h2 class="banner-title">MAKEBANNER</h2>

        <div class="charts-see-all">

            <a class="go-login" href="#">
                로그인
            </a>

            <a class="go-login" href="#">
                회원가입
            </a>

            <button class="go-start">
                <a class="go-go" href="#">
                    시작하기
                </a>
            </button>

        </div>

    </div>
</header>

<section>
    <div class="fir-con">
        <h2 class="fir-text">
            누구나 손쉽게<br>배너 제작<br>
        </h2>
        <button class="fir-but">
            시작하기
        </button>

    </div>

    <div class="sec-con">

        <div class="sec-img">
            <img class="avocado" src="/image/avovado.jpg">
        </div>

        <div class="sec-text-con">
            <h2 class="sec-text">
                마음에 드는 배너를<br>골라보세요<br>
            </h2>

            <p class="sec-s">
                원하는 배너의 조건을 작성하고 자신이 마음에 드는<br> 배너를 선택해 볼 수 있습니다.<br>
            </p>

            <div class="saerch">
                <input type="text" placeholder="   배너 종류를 입력하세요.">
                <img class="s-icon" src="/image/free-icon-zoom-in-181561.png">
            </div>
        </div>

    </div>


    <div class="thr-con">

        <div class="thr-text-con">
            <h2 class="thr-text">
                원하는 배너 추천 기능
            </h2>

            <p class="thr-s">
                사진뿐만 아니라 문구까지 추천해줍니다.
            </p>
        </div>

        <div class="thr-img">
            <img class="icon-img" src="/image/icon.jpg">
        </div>


    </div>

    <div class="four-con">

        <h2 class="four-text">
            지금 바로 시작해보세요.
        </h2>

        <div>
            <button class="four-but">
                시작하기
            </button>
        </div>

    </div>

</section>


</body>
</html>