<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>makebanner</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Titillium+Web:wght@300;600&display=swap"
            rel="stylesheet"
    >
    <link rel="stylesheet" href="css/mypage.css">
</head>

<body>
<header>
    <div class="banner-header">

        <h2 class="banner-title">MAKEBANNER</h2>

        <div class="charts-see-all">

            <a class="go-login" href="#">
                로그인
            </a>

            <a class="go-login" href="#">
                회원가입
            </a>

            <button class="go-start">
                <a class="go-go" href="#">
                    시작하기
                </a>
            </button>

        </div>

    </div>
</header>

<section>
    <div class="container">

        <div class="mypage-t">MY PAGE</div>

        <div class="img-con">
            <img src="image/free-icon-user-2663969.png">
        </div>

        <div class="id">id_@</div>

        <div class="box">
            <div class="box-t">이름</div>
        </div>

        <div class="box">
            <div class="box-t">아이디</div>
            <div class="con">id_@ </div>
        </div>

        <div class="box">
            <div class="box-t">비밀번호</div>
        </div>

        <div class="box">
            <div class="box-t">사업자등록번</div>
        </div>

        <div class="box">
            <div class="box-t">쿠폰</div>
        </div>

        <div class="but-box">
            <button class="fix-but">
                회원정보수정
            </button>
        </div>



    </div>
</section>

</body>
</html>